@import "tailwindcss";

/* Base de diseño premium e institucional de grises azulados */
body {
  background-color: #0b121f;
  color: #f1f5f9;
  font-family: "Inter", system-ui, sans-serif;
}

@keyframes pulse {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
}
.animate-pulse {
  animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}
